body{
    background:whitesmoke;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}
#all{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:40px;
    margin-top: 400px;
}
.c1{
    width:400px;
    background:white;
    border-radius:25px;
    padding:30px;
    text-align:center;
    overflow:hidden;
}
.p1{
    width:100px;
    height:100px;
    border-radius:50%;
    display:block;
    margin:auto;
}
.a{
    width:70px;
    margin:15px auto;
    background: rgb(122, 176, 194);
    padding:8px;
    border-radius:8px;
}
h2{
    color:#23235c;
    margin-top:15px;
}
.p{
    color:gray;
    line-height:25px;
}
.i{
    display:flex;
    justify-content:center;
    gap:25px;
    margin:30px 0;
    font-size:22px;
}
.b1{
    display:flex;
    justify-content:space-between;
}
.m{
    width:180px;
    height:60px;
    border:2px solid blue;
    border-radius:15px;
    background:white;
    font-size:20px;
}
.c{
    width:180px;
    height:60px;
    border:none;
    border-radius:15px;
    background:blueviolet;
    color:white;
    font-size:20px;
}
.c2{
    width:400px;
    background:white;
    border-radius:25px;
    padding:30px;
    margin-top:40px;
}
.t1{
    display:flex;
    justify-content:space-between;
}
.p2{
    width:70px;
    height:70px;
    border-radius:50%;
}
.r1 p{
    color:gray;
}
.r1 h3{
    margin-top:5px;
    color:rgb(66, 66, 123);
}
.c2 h2{
    margin-top:20px;
    color: rgb(194, 115, 89);
}
.r1{
    display:flex;
    gap:50px;
}
.about{
    line-height:25px;
}
.c1,.c2{
    box-shadow:0 0 15px;
}
.m:hover{
    background-color: lightgreen;
}
.c:hover{
    background-color: lightgreen;
}