body{
    border: 0px solid black;
    background: linear-gradient(to right, #00f5a2, #00daf5);
    padding: 40px;  
}

nav{
    display: flex;
    gap: 40px;
    padding: 30px;
    background-color: white;
    color: black;
    justify-content: space-between;
}
.f{
    background-color: orange;
    border-radius: 10px;
    width: 90px;
}
a{
    margin-top: 20px;
    text-decoration: none;
    color: black;
}
button{
    background-color: white;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 30px;
}
#r2{
    background-color: white;
    height: 100vh;
    display: flex;
    margin-top: -60px;
}
#r3{
    background-color: white;
    height: 70vh;
    margin-top: -430px;
}
.cookie{
    margin: 55px 200px 10px 100px;
    height: 200px;
    border-radius: 150px;
}
#p1{
    text-align: center;
    color: black;
    margin: 80px 250px 10px 50px ;
}
h2{
    margin-left: 35px; 
}
.submit{
    border: 2px solid black;
    border-radius: 10px;
    background-color:white;
    padding: 5px 15px ;
}
[type="submit"]:hover{
    background-color: orange;
    cursor: pointer;
}
#r4{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 20px;
}
#p2{
    margin-left: 55px ;
    margin-right: 600px;
}
#m{
    display: flex;
    justify-content: space-between;
    margin: 45px 55px 15px 55px;

}
.img{
    width: 220px;
    height: 150px;
}
#n{
    display: flex;
    
}
.cap1{
    margin-left: 140px;
}
.cap2{
    margin-left: 245px;
}
.cap3{
    margin-left: 195px;
}
.cap4{
    margin-left: 210px;
}
.cap5{
    margin-left: 220px;
}
#b2{
    padding: 10px;
    background-color: orange;
}
#b2:hover{
    background-color: chartreuse;
    cursor: pointer;
}
#l{
    display: flex;
}
.r1{
    margin-left: 80px;
}
.r2{
    margin-left: 165px;
}
.r3{
    margin-left: 115px;
}
.r4{
    margin-left: 145px;
}
.r5{
    margin-left: 145px;
}